/* styles.css */
    @font-face {
            font-family: 'Asfalt'; /* Name of the font */
            src: url('fonts/ABCAsfalt-Compressed.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

html {
    cursor: none;  /* Hides the default system cursor */
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scrollbars */
    position: relative;
    height: 100vh;
    background-color: black;
    font-family: 'Asfalt';
}

#custom-cursor {
    position: absolute;
    width: 30px;  /* Adjust cursor size */
    height: 30px;
    border-radius: 50px;
    background: url('cursor.png') no-repeat center center;  /* Custom cursor image */
    background-size: contain;
    pointer-events: none;  /* Prevent the cursor from interfering with interactions */
    transform: translate(-50%, -50%);  /* Center the cursor */
    z-index: 9999;  /* Make sure the cursor stays on top */

     animation: rotateCursor 1.3s linear infinite;
}

@keyframes rotateCursor {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#bouncing-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease; /* Smooth transition for oval resizing */
}

/* The oval background */
#bouncing-oval {
    position: absolute;
    background-color: rgb(0, 0, 255); /* Semi-transparent background */
    border-radius: 50%; /* Make it oval */
/*    padding: 10px;*/
    z-index: -1; /* Place behind the text */
/*     width: 150px; */
    height: 50px;
}

#bouncing-text {
    font-size: 5em;
    position: relative;
    white-space: nowrap;
    font-weight: regular;
    transition: color 0.2s ease; /* Smooth color change */
/*    font-family: Asfalt;*/
 text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* Creates a black outline around the text */
}

#yes-corners {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensure the "YES" texts don't interfere with other interactions */
}

.corner-text {
    position: absolute;
    font-size: 1em;
/*    font-weight: bold;*/
    color: white;
    z-index: 10; /* Make sure these texts are above everything else */
    font-family: "ocr-a-std", monospace;
font-weight: 400;
font-style: normal;
}

/* Positioning the YES texts in the four corners */
.top-left {
    top: 10px;
    left: 10px;
}

.top-right {
    top: 10px;
    right: 10px;
}

.bottom-left {
    bottom: 10px;
    left: 10px;
}

.bottom-right {
    bottom: 10px;
    right: 10px;
}
