   @font-face {
            font-family: 'Nudles'; /* Name of the font */
            src: url('fonts/Nudles-Fat.woff') format('woff');
            font-style: normal;
        }

body, html {
    height: 100%;
    font-family: Nudles;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #d8d9da 8%, #c19eb0 16%, #dd4491 32%, #dc2374 48%, #ff97ff 92%, #eeff00 99%);
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    background-size: cover; /* Ensures the background covers the entire area */
    background-repeat: no-repeat; /* Prevents repeating the gradient */
}

.menu {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            color: yellow;
            padding: 10px;
            text-align: right;
            z-index: 1000; /* Ensure it's on top */
            font-size: 40px;
            font-family: Nudles;
            z-index: 1000;
        }

.menu2 {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            color: yellow;
            padding: 10px;
            justify-content: space-between;
            align-items: center;
            z-index: 1000; /* Ensure it's on top */
            font-size: 40px;
            font-family: Nudles;
            width: 100%;
            display: flex;
        }

        .menu2 span {
    margin: 0 15px; 
}

.left-items {
    display: flex; /* Create a flex container for left items */
    flex-grow: 1; /* Allow this section to grow */
}

.right-item {
    margin-left: auto; 
     padding-right: 20px;
}

.container2 {
            display: grid;
            grid-template-columns: repeat(10, 1fr); /* 8 equal columns */
            gap: 8px; /* Space between columns */
            margin-top: 50px;
            padding-top: 200px; /* Space for fixed menu */
            padding: 80px;
        }


.image-wrapper {
            position: relative; /* Position relative for absolute positioning of text */
            overflow: hidden; /* Hide overflow */
        }

.container2 img {
    width: 100%;
    height: auto;
    max-height: 100px;
    object-fit: contain;
    transition: opacity 0.3s ease;

}
  
.image-text {
            position: absolute; /* Position text over the image */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: left;
/*            background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
            color: yellow; /* Text color */
            opacity: 0; /* Start hidden */
            transition: opacity 0.3s ease; /* Smooth transition for text visibility */
            font-family: arial narrow;
            font-size: 12px;
        }

       .image-wrapper:hover .image-text {
            opacity: 1; 
        }

        .image-wrapper:hover img {
            opacity: 0; 
        }
